@*
    cant use helpers with ajax so I rewrote this without
*@
@{
}
@model MrFixIt.Models.Job

<h2>Would you like to do this job?</h2>
<hr />
<form action="Claim" class="claim-job">
    <input type="hidden" name="id" value="@Model.JobId">
    <input type="hidden" name="id" value="@Model.Title">
    <input type="hidden" name="id" value="@Model.Description">


    <h4>@Model.Title</h4>
    <button type="submit">Claim This Job</button>
  </form>
   
